# ignore everything
*

# except
!README.md
!bookdown_template
!functions/
!tex_paper_template/
!Rprofile
!bash_profile
!bash_profile_clean
!bashrc
!bashrc_clean
!liquidpromptrc
!screen_rprofile.png
!vimrc
